@font-face {
  font-family: "iconfont"; /* Project id 3961119 */
  src: url('iconfont.woff2?t=1680765144289') format('woff2'),
       url('iconfont.woff?t=1680765144289') format('woff'),
       url('iconfont.ttf?t=1680765144289') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e670";
}

.icon-checkok:before {
  content: "\e651";
}

.icon-downeye:before {
  content: "\e61c";
}

.icon-openeye:before {
  content: "\e6a7";
}

.icon-arrow_up:before {
  content: "\e630";
}

.icon-arrow_down-copy:before {
  content: "\ee48";
}

.icon-checkbox:before {
  content: "\e6bc";
}

.icon-decrease:before {
  content: "\e62a";
}

.icon-increase:before {
  content: "\e62b";
}

.icon-downsort:before {
  content: "\e618";
}

.icon-upsort:before {
  content: "\e61b";
}

.icon-cancel:before {
  content: "\eaf2";
}

.icon-add:before {
  content: "\e603";
}

.icon-uparrow:before {
  content: "\e602";
}

.icon-downarrow-copy:before {
  content: "\ee47";
}

.icon-elec:before {
  content: "\e601";
}

.icon-homeelec:before {
  content: "\e672";
}

.icon-smartelec:before {
  content: "\e695";
}

.icon-ntk:before {
  content: "\eb49";
}

.icon-sport:before {
  content: "\ee46";
}

.icon-tv:before {
  content: "\e861";
}

.icon-switch:before {
  content: "\e67b";
}

.icon-phone1:before {
  content: "\e610";
}

.icon-leftarrow:before {
  content: "\e61e";
}

.icon-rightarrow-copy:before {
  content: "\e87d";
}

.icon-message:before {
  content: "\e617";
}

.icon-arr:before {
  content: "\e62d";
}

.icon-top:before {
  content: "\e616";
}

.icon-arrow:before {
  content: "\e6ec";
}

.icon-yuanjiantou-you:before {
  content: "\e640";
}

.icon-cart:before {
  content: "\e600";
}

.icon-tian-15:before {
  content: "\e606";
}

.icon-fix:before {
  content: "\e715";
}

.icon-tian-7:before {
  content: "\e607";
}

.icon-phone-money:before {
  content: "\e66f";
}

.icon-search:before {
  content: "\e623";
}

.icon-sim:before {
  content: "\e728";
}

.icon-position:before {
  content: "\e62f";
}

.icon-phone:before {
  content: "\e650";
}

.icon-clock:before {
  content: "\e61a";
}

.icon-personal:before {
  content: "\e654";
}

.icon-F:before {
  content: "\e632";
}

.icon-building:before {
  content: "\e626";
}

.icon-qian:before {
  content: "\e6e9";
}

.icon-gift:before {
  content: "\e625";
}

.icon-service:before {
  content: "\e87c";
}

