* {padding: 0;	margin: 0;}
.w {width: 1200px; margin: 0 auto;}
.tonglan {min-width: 1200px;}
ul {list-style: none;}
a {text-decoration: none;color: #000;}
html{background-color: rgb(245,245,245);}
/* 大盒子 */
.occupied {
	background-color: rgb(46,40,40);
	height: 36px;
}
/* 左边导航栏 */
.NavigationBar_left {float: left;}
.NavigationBar_left>ul {height: 100%;}
.NavigationBar_left>ul>li {display: inline-block;}
.NavigationBar_left>ul>li>a,.NavigationBar_left>ul>li>span {
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	line-height: 36px;
}
.NavigationBar_right_main>ul>span {
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	line-height: 36px;
	margin-left: -2px;
	margin-right: -4px;
}
.NavigationBar_left>ul>li>a:hover {
	color: #fff;
	cursor: pointer;
}
.NavigationBar_left>ul>li>i {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
}
.jingcai:hover {
	background-color: #fff;
	cursor: pointer;
}
.jingcai:hover.jingcai>a,.jingcai:hover.jingcai>i {color: rgb(207, 10, 44);}
.jingcai{position: relative;}
/* 更多精彩的二级菜单 */
li.jingcai>.dropdown-more {
	position: absolute;
	left: -30px;
	width: 120px;
	padding: 6px 0 12px 0;
	text-align: center;
	line-height: 32px;
	background-color: #fff;
	display: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
}
li.jingcai:hover .dropdown-more{
	display: block;
	box-shadow: 0 0 6px 0 #b0b0b0;
	z-index: 1000000000;
}
.dropdown-more>ul>li>a {
	font-size: 12px;
	color: rgb(119, 119, 119);
}
.dropdown-more>ul>li>a:hover{
	cursor: pointer;
	color: rgb(207, 10, 44);
}
.dropdown-more>ul>li>a>img.code{
	width: 100px;
	height: 100px;
}
.NavigationBar_right_main {
	float: left;
	position: relative;
}
.NavigationBar_right_main>ul {
	height: 100%;
	margin-left: 350px;
}
.NavigationBar_right_main>ul>li {
	display: inline-block;
}
.NavigationBar_right_main>ul>li>a,.NavigationBar_right_main>ul>li>span {
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	line-height: 36px;
	margin-left: 3px;
}
.NavigationBar_right_main>ul>li>i {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
}
/* 购物车 */
.gouwuche {
	float: right;
	height: 35px;
	background-color: rgb(66, 66, 66);
	color: rgba(255, 255, 255, 0.6);
	line-height: 35px;
	width: 90px;
	position: relative;
}
.gouwuche>span {
	position: absolute;
	right: 6px;
	font-size: 12px;
}
.gouwuche_more{
	text-align: center;
	position: relative;
	right:190px;
	top: 0;
	display: none;
	background-color: rgb(255, 255, 255);
	line-height: 100px;
	z-index: 99999999999;
	color: #000;
}
.icon-gouwuche2{padding-left: 10px;}
.gouwuche:hover{color: rgb(207, 10, 44);background-color: #fff;cursor: pointer;}
.gouwuche:hover .gouwuche_more{
	width: 280px;
	height: 100px;
	box-shadow: 0 0 6px 0 #b0b0b0;
	display: block;
}
.menu_top {height: 74px;background-color: #fff;}
/* 左边logo */
.logo>a>img {
	float: left;
	width: 103px;
	height: 100%;
}
/* 中间菜单 */
.main_menu {margin-left: 50px;float: left;}
.main_menu>ul>li>a:hover {cursor: pointer;color: rgb(207, 10, 44);}
.main_menu>ul {height: 74px;line-height: 74px;}
.main_menu>ul>li {display: inline-block;margin-left: 34px;}
.menu_seacrh {
	display: inline-block;
	float: right;
	height: 74px;
	line-height: 74px;
}
.menu_seacrh>form>button>i {font-size: 26px;}
.menu_seacrh>form>button>i:hover{cursor: pointer; color: rgb(207, 10, 44);}
.menu_seacrh>form>input{padding: 0px 10px;height: 30px;}
.menu_seacrh>form>button{background-color: #fff;border: none;}
.menu_seacrh>i:hover{color: rgb(207, 10, 44);}
.main{margin-top: 60px;}

/* 分类栏 */
.classification_area{
	line-height: 35px;
	height: 35px;
	background-color: #fff;
	font-size: 12px;
	border-top: 1px solid #d5d5d5;
}
.classification_area_left{float: left;margin-left: 23px;}
.classification_area_right>span{margin-left: 40px;}
.classification_area_right>span>i{font-size: 12px; margin-left: 5px;}
.classification_area_right>span:hover{cursor: pointer;color: rgb(207, 10, 44);}
/* 服务优惠 */
.service_area{
	line-height: 35px;
	height: 35px;
	background-color: #fff;
	font-size: 12px;
	border-top: 1px solid #d5d5d5;
}
.service_area_left{float: left;margin-left: 23px;}
.service_area_right>span{margin-left: 40px;}
.service_area_right>span>i{font-size: 12px; margin-left: 5px;}
.service_area_right>span:hover{cursor: pointer;color: rgb(207, 10, 44);}
/* 屏幕尺寸 */
.size_area{
	line-height: 35px;
	height: 35px;
	background-color: #fff;
	font-size: 12px;
	border-top: 1px solid #d5d5d5;
}
.size_area_left{float: left;margin-left: 23px;}
.size_area_right>span{margin-left: 40px;}
.size_area_right>span>i{font-size: 12px; margin-left: 5px;}
.size_area_right>span:hover{cursor: pointer;color: rgb(207, 10, 44);}
/* 排序栏 */
.sort_area{
	line-height: 35px;
	height: 35px;
	background-color: #fff;
	font-size: 12px;
	border-top: 1px solid #d5d5d5;
}
.sort_area_left{float: left;margin-left: 23px;}
.sort_area_right>span{margin-left: 40px;}
.sort_area_right>span>i{font-size: 12px; margin-left: 5px;}
.sort_area_right span.sort-item i{display: none;}
.sort_area_right span.sort-item.active {color: rgb(207, 10, 44); cursor: pointer;}
.sort_area_right span.sort-item.active.asc i.icon-shengxu {display: inline;}
.sort_area_right span.sort-item.active.desc i.icon-jiangxu {display: inline;}
/* 商品主区域 */
.commodity{
	margin-top: 20px;
	font-size: 0;
}
.commodity>div.box{
	border-radius: 18px;
	display: inline-block;
	margin:8px 12px 12px 0;
	height: 320px;
	width: 19%;
	background-color: #fff;
	transition: all 0.5s;
}
.commodity>div.box:hover{
	box-shadow: 0px 10px 10px -5px #b0b0b0;
	transform: translateY(-2px);
}
.commodity>div.box>p.p-tag{
	text-align: center;
	font-size: 14px;
}
.commodity>div.box>p.p-tag>span{
	font-size: 12px;
	color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 1px 6px 1px 6px;
	background-color: rgb(255,132,134);
}
.commodity>div.box>img{
	padding: 0 0 0 24px;
    width: 180px;
    height: 180px;
}
.commodity>div.box>h6,.commodity>div.box>span{
	margin-top: 2px;
	padding-left: 12px;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.commodity>div.box>h6{margin-bottom: 6px;}
.commodity>div.box>span{color: rgb(207, 10, 44);font-size: 17px;}
.commodity>div.box>span.span_border{
	margin: 10px;
	font-size: 12px;
	padding-left: 4px;
	padding-right: 4px;
	color: rgb(132,201,253);
	border: 1px solid rgb(132,201,253);
	border-radius: 18px;
}
.commodity>div.box>h5.red{
	margin-left: 12px;
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	border: 1px solid;
	color: rgb(207, 10, 44);
}
.commodity>div.box>h4{
	margin-left: 10px;
	font-weight: 400;
	font-size: 12px;
	color: rgb(153,153,153);
}